<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>Pv84Sikp616zm2g8oMNneQWvHPeyZVmB5aQRPsSUOS0oVVpQud8/HqTkt5jbUUumAfHKza+rwRuLsSwnfud7StEbQerRuDUjlv/U8ZvYhEyDZ7hnldKhq0H7blOb7lN74yjTJrlWcfJepcRg2vXTjBFSbvkg+zy6oEbT/EctATG0bGkfFj/rXpXX7lF8JICQ/GBThU8qqzXVPdH1/oM/AJPmcpttM1WxCgAUmMKIfPRtRfOv8Udn1xwbB4sRh54ALm1O9h8YW1BhJrO1FGNjAa0kiXJ4y8FQ9RcDdpmP/wn+ofMHADOx8UsCHoNlJB3GvIse3HM7TU7TnX79OBVMPw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>ck5E4AU78N0IKkTuceBgw1HIHHKhBL4OY3T4fslBez8qreWaNLOF0wSXg+IC6Onp/A43y2GyZF7qItBSCic8tAX73N7+/F3wlyMSp6SIAosHk9pd/a3RFcw6foiJvO1E1YRaWQTtjoWsQL71SPsGF9c1gNP7FWSjhWqnnx5QW5qOlIh17LVp5usBU+ifwf37/speWNKLlx4VhUgBtSfLvZaUHNjhXP/plEX/rcYXSAnrLwDKiqbcGqFxIQaFaxBmGcODsiYtxCbOUMA2fy1ev2gOBjCIg8w2XLHp3l6Qflcaw6DMnCJwkRnf4BIP2iqFZHQ1fkNSuDBrLBhGJGFuWA==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
