<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>OUd9oxegk+L+qJKCzkiYzj3DglMy0A4DVmBWD+E/3Z/mj8s7rsmW9Lq/WYi5vlG8818xJeTf1wO5W6eacePuC987pwXxcZYOnso5EnMlsoUda9A7Vk4s0m2LsgB+7aLUWs2u7kK9+9rFWrKqn0Ee5zHdht63vgBrRxBJeYLhaWmccGqNvXkLKezOLhZlrPKddlU4Wp3ojskAlqkPXm5hPkpFIbyT2g76DxPnbsFi9KHafC7xeLzvgWghJGIyBB3sp8l3We6It2A1eH8bASeYBKaBv79UPtvY8nvO7yOgEBWY/xDwEH3aGHHKqXZQKImDdesb/1UfOE7Sq/KjDHp/dQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>YXBXhBauGCDSzxw5oQnMmWEJbHjFHyoo1eiO3SSe7QlZd96bvLjEO60MC5jfpqlQj5mPkPECl5anRy9gcL7Ax6TWQo7WoBo3CK26Mho2HzAXJKEKNj6/lgphY9bNAk2GNPVZjZKpAADvGe/zwBDpz930ZlWhtJ85dJg4KgIK+RuoHLwVcehj7nqSg/HkAlZKfWp7iJ0CeOQraICPeQl+a1d5SXC+ojx0nOqsE3ft58SB7G6TmMLEPG69mQkRwAy3r4Nquxa9rcH6fOTMN5d6uGX8pr7A3CU9zDzHHhQSLOZES7g+X1pO7sF2BbjLn9hl/PAo7+6WJI0x/xVXc1c0Wg==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
